section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}

h1{
    margin-top: 0;
    font-size: 6vh;
    opacity: 0;
    text-align: center;
    transition: all 0.6s ease;
}

h1.show{
    opacity: 1;
}

#lado{
    margin-top: 0;
}


section div{
    margin-top: 3vh;
    overflow-y: hidden;
    opacity: 0;
    transform: translateY(5vh);
    transition: all 0.6s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3vh;
    height: 65vh;
    width: 25vw;
    border-bottom: 2vh solid rgb(39, 39, 39);
    background-color: rgb(92, 92, 92);
    flex-direction: column;
    display: flex;
    padding: 2vh;

}


section div.show{
    opacity: 1;
    transform: translateY(0);
}

section h2{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 0;
    text-align: center;
    font-size: 4.5vh;
}

section p{
    margin-left: 2vw;
    font-size: 3vh;
}

section img{
    margin-right: 3vh;
    width: 6vh;
}


#food{
    width: 5vh;
}